Repository CS130-W20/team-B6, pull requests merged in 2020-03, with the labels that each got.

#65 Add comments endpoints
  backend/outlook/backend/migrations/0001_initial.py
  backend/outlook/backend/migrations/0002_user.py
  backend/outlook/backend/migrations/0003_update_post_model.py
  backend/outlook/backend/migrations/0004_article.py
  backend/outlook/backend/migrations/__pycache__/0001_initial.cpython-37.pyc
  backend/outlook/backend/migrations/__pycache__/__init__.cpython-37.pyc
  backend/outlook/backend/models.py
  backend/outlook/backend/urls.py
  backend/outlook/backend/views.py
Labels: backend

#69 Use password hash instead of plaintext pass
  backend/outlook/backend/views.py
Labels: backend

#68 Created newsfeed endpoint
  backend/Profile
  backend/outlook/backend/migrations/0005_user_password.py
  backend/outlook/backend/migrations/0006_auto_20200307_0411.py
  backend/outlook/backend/models.py
  backend/outlook/backend/news.py
  backend/outlook/backend/urls.py
  backend/outlook/backend/views.py
  backend/requirements.txt
  backend/runtime.txt
Labels: backend

#71 Add log in
  backend/outlook/backend/views.py
  frontend/lib/bottom_nav_bar.dart
  frontend/lib/comments/reply.dart
  frontend/lib/main.dart
  frontend/lib/managers/data_manager.dart
  frontend/lib/profile/cover.dart
  frontend/lib/profile/edit/edit_form.dart
  frontend/lib/profile/profile_page.dart
  frontend/lib/profile/sections/about.dart
  frontend/lib/states/auth_state.dart
  frontend/lib/states/page_state.dart
  frontend/lib/states/user_state.dart
Labels: backend, frontend

#73 Discover tab
  backend/outlook/backend/__pycache__/__init__.cpython-37.pyc
  backend/outlook/backend/__pycache__/admin.cpython-37.pyc
  backend/outlook/backend/__pycache__/apps.cpython-37.pyc
  backend/outlook/outlook/settings.py
  frontend/images/automobile.png
  frontend/images/business.png
  frontend/images/entertainment.png
  frontend/images/international.png
  frontend/images/politics.png
  frontend/images/science.png
  frontend/images/sports.png
  frontend/images/startups.png
  frontend/images/technology.png
  frontend/images/travel.png
  frontend/ios/Podfile.lock
  frontend/ios/Runner.xcodeproj/project.pbxproj
  frontend/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  frontend/lib/discover_main.dart
  frontend/lib/main.dart
  frontend/lib/managers/data_manager.dart
  frontend/pubspec.yaml
Labels: frontend

#75 Allow ability to update user data
  frontend/lib/managers/data_manager.dart
  frontend/lib/profile/edit/edit_form.dart
Labels: frontend

#78 Add sign up and login mechanism
  frontend/README.md
  frontend/lib/login/login.dart
  frontend/lib/login/signup.dart
  frontend/lib/main.dart
  frontend/lib/managers/api_manager.dart
  frontend/lib/profile/cover.dart
  frontend/lib/profile/edit/edit_form.dart
  frontend/lib/states/auth_state.dart
  frontend/lib/states/user_state.dart
Labels: frontend

#81 Quick bug fix to allow multiple comments by the same user.
  backend/outlook/backend/migrations/0004_auto_20200308_2031.py
  backend/outlook/backend/models.py
Labels: backend

#77 Added simple interface to get replies for a comment.
  backend/outlook/backend/urls.py
  backend/outlook/backend/views.py
Labels: backend

#83 Add signout button and switch to login page as default
  frontend/lib/main.dart
  frontend/lib/profile/profile_page.dart
Labels: frontend

#87 Get comments by user id
  backend/outlook/backend/news.py
  backend/outlook/backend/urls.py
  backend/outlook/backend/views.py
Labels: backend

#88 User comments frontend
  backend/outlook/backend/views.py
  frontend/lib/feed-list.dart
  frontend/lib/feed-stories.dart
  frontend/lib/main.dart
  frontend/lib/managers/api_manager.dart
  frontend/lib/profile/sections/activity.dart
Labels: backend, frontend

#90 Connect profile with comments and newsfeed
  backend/outlook/backend/views.py
  frontend/lib/feed-list.dart
  frontend/lib/profile/sections/activity.dart
Labels: backend, frontend
